<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yutian.ssm.mapper.ArmsMapper">


<!--    List<Arms> getAllArms();-->
    <select id="getAllArms" resultType="Arms">
        select * from arms
    </select>

<!--    void addArms(Arms arms)-->
    <insert id="addArms">
        insert into arms value(null,#{aname},#{atype},#{astar})
    </insert>

<!--    void updateArms(Integer aid);-->
    <update id="updateArms">
        update arms set aname = #{aname} ,atype = #{atype} ,astar = #{astar} where aid = #{aid}
    </update>

<!--    Arms getArmsByAid(Integer aid);-->
    <select id="getArmsByAid" resultType="Arms">
        select * from arms where aid = #{aid}
    </select>


<!--    void delArms(Integer aid);-->
    <delete id="delArms">
        delete from arms where aid = #{aid}
    </delete>

</mapper>