p{
    color: rgb(255, 111, 0);
    font-size: 54px;
    font-weight: bolder;
    font-style: italic;
    font-family: "华文行楷";
}

#div1{
    position: relative;
    margin: 10px;
    width: 200px;
    height: 250px;
    color: rgb(226, 125, 43);
    text-decoration: none;
    float: right;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.3);
    border-right: 1px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
}